 body {
            background-color: lightgray;
            font-family: sans-serif;
            margin: 10px;
        }

        h1 {
            text-align: center;
            letter-spacing: 10px;
            font-size: 300%;
        }

        h2 {
            clear: both;
            background-color: gray;
            color: white;
        }

        p {
            text-indent: 2rem;
            margin-left: 10px;
            margin-right: 10px;
        }

        img {
            float: left;
            padding-right: 10px;
            padding-bottom: 10px;
        }

        .spanrojo {
        color:red;
        }

        .fondoblanco {
            background-color: white;
            text-emphasis-style: 2;
        }